::use mysli.assets
<!DOCTYPE html>
<html>
<head>
  <title>Mysli Web Ui :: Developer</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0" />
  { 'ui/css' | assets.tags : 'mysli.jui' }
  {{{
  <style type="text/css">
    body {
      overflow: hidden;
      background-color: #ebebe1;
    }
  </style>
  }}}
</head>
<body id="mysli-js-ui-developer" class="mysli-ui">
  { 'external' | assets.tags : 'mysli.jui' }
  { 'common/js' | assets.tags : 'mysli.jui' }
  { 'ui/js' | assets.tags : 'mysli.jui' }
  <script>
    {script}
  </script>
</body>
</html>
