@import "variables"

.ui-box
  width: 100%
  background-color: transparent
  display: flex
  flex-wrap: nowrap
  width: 100%
  height: 100%
  &.ui-box-orientation-vertical
    flex-direction: column
  &.ui-box-orientation-horizontal
    flex-direction: row
  .ui-container-cell
    flex-grow: 0
    &.expanded
      flex-grow: 1
    &.scroll-x
      overflow-x: auto
    &.scroll-y
      overflow-y: auto
    &.padtop
      padding-top: 15px
    &.padbottom
      padding-bottom: 15px
    &.padleft
      padding-left: 15px
    &.padright
      padding-right: 15px
