@import "variables"

.ui-checkbox > .ui-gi-input
  position: relative
  top: 6px
  margin-right: 6px
  display: inline-block
  width: 22px
  height: 22px
  border-radius: 3px
  box-shadow: inset 0 0px 0 1px rgba(0,0,0,0.2), inset 0 -2px 0 0px rgba(0,0,0,.2), inset 0 2px 0 0 rgba(255,255,255,.2)
  background-color: #fff
  -webkit-transition: background-color .2s ease-out
  -moz-transition: background-color .2s ease-out
  -ms-transition: background-color .2s ease-out
  transition: background-color .2s ease-out
  overflow: hidden
  &:active
    box-shadow: inset 0 0px 0 1px rgba(0,0,0,0.2), inset 0 2px 0 0px rgba(0,0,0,.2), inset 0 -2px 0 0 rgba(255,255,255,.2)
  & i.fa
    color: #fff
    opacity: 0
    position: absolute
    top: -4px
    left: 3px
    -webkit-transition: top .3s, opacity .2s ease-out
    -moz-transition: top .3s, opacity .2s ease-out
    -ms-transition: top .3s, opacity .2s ease-out
    transition: top .3s, opacity .2s ease-out
  &.checked
    background-color: #00ad2d
    & i.fa
      top: 2px
      opacity: 1
  &.disabled, &.checked.disabled
    box-shadow: none
    background-color: #aaa
.ui-checkbox.style-alt > .ui-gi-input
  background-color: #686060
  &.checked
    background-color: #00ad2d
  &.disabled, &.checked.disabled
    background-color: #aaa
