@import "variables"

.ui-entry > .ui-gi-input
  font-family : font-family
  font-size   : font-size-normal
  font-size: 16px
  border: none
  border-radius: 3px
  padding: 8px
  width: 100%
  box-shadow: inset 0 0px 0 1px rgba(0,0,0,0.2), inset 0 2px 2px 0px rgba(0,0,0,0.2)
  -webkit-transition: -webkit-box-shadow .2s ease-out
  -moz-transition: -moz-box-shadow .2s ease-out
  -ms-transition: -ms-box-shadow .2s ease-out
  transition: box-shadow .2s ease-out
  background-color: #fff
  display: inline-block
  &:disabled
    box-shadow: none
  &:focus
    outline: none
    box-shadow: inset 0 0px 0 2px rgba(0,0,0,0.4), inset 0 2px 2px 0px rgba(0,0,0,0.2)
.ui-entry.style-alt > .ui-gi-input
  color: #f7f7f7
  background: #686060
.ui-entry.style-flat > .ui-gi-input
  box-shadow: none
  background-color: transparent
  &:focus
    box-shadow: none
