@import "variables"

.ui-html
  padding: 15px
  *
    padding: 8px 0
    &:first-child
      padding-top: 0
    &:last-child
      padding-bottom: 0
  &.expanded
    width: 100%
    height: 100%
    padding: 0
