@import "variables"

.ui-overlay
  background: rgba(0, 0, 0, .6)
  z-index: 100000
  position: absolute
  display: none
  width: 100%
  height: 100%
  .ui-overlay-busy
    position: absolute
    display: block
    width: 40px
    height: 20px
    top: 50%
    left: 50%
    margin-top: -10px
    margin-left: -20px
    text-align: center
    display: none
  &.status-busy
    .ui-overlay-busy
      display: block
