@import "variables"

.ui-widget .ui-panel
  width: 200px
  height: 100%
  position: absolute
  overflow: visible
  & > .ui-panel-sides
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
  & .ui-panel-side
    box-shadow: 2px 0 6px rgba(0, 0, 0, .1)
    -webkit-transition: box-shadow .4s ease-out
    -moz-transition: box-shadow .4s ease-out
    -ms-transition: box-shadow .4s ease-out
    transition: box-shadow .4s ease-out
  &.focused .ui-panel-side
    box-shadow: 4px 0 8px rgba(0, 0, 0, .3)
  &.multi
    petspective: 900px
    -webkit-perspective: 900px
    -moz-perspective: 900px
    &.flipped > .ui-panel-sides
      -webkit-transform: rotateY(180deg)
      -moz-transform: rotateY(180deg)
      -ms-transform: rotateY(180deg)
      -o-transform: rotateY(180deg)
      transform: rotateY(180deg)
    & > .ui-panel-sides
      transition: transform .3s linear
      -webkit-transition: -webkit-transform .3s linear
      -moz-transition: -moz-transform .3s linear
      -ms-transition: -ms-transform .3s linear
      transform-style: preserve-3d
      -webkit-transform-style: preserve-3d
      -moz-transform-style: preserve-3d
      -ms-transform-style: preserve-3d
      & > .ui-panel-side
        // z-index: inherit
        width: 100%
        height: 100%
        backface-visibility: hidden
        -webkit-backface-visibility: hidden
        -moz-backface-visibility: hidden
        -ms-backface-visibility: hidden
        position: absolute
        top: 0
        left: 0
        &:first-child
          transform: rotateY(0deg)
          -webkit-transform: rotateY(0deg)
          -moz-transform: rotateY(0deg)
          -ms-transform: rotateY(0deg)
          z-index: 2
        &:last-child
          transform: rotateY(180deg)
          -webkit-transform: rotateY(180deg)
          -moz-transform: rotateY(180deg)
          -ms-transform: rotateY(180deg)
