@import "variables"

.ui-panel-side
  background: #f6f5f4
  color: #323232
  border-left: 1px solid #BBB8B9
  border-right: 1px solid #BBB8B9
  &.style-alt
    background: #392b3a
    color: #fff
    border-left: 1px solid #222222
    border-right: 1px solid #222222
