@import "variables"

.ui-tabbar
  & > .ui-container-cell
    flex-grow: 1
    & > .ui-button.style-flat
      -webkit-transition: all 200ms ease-out
      -moz-transition: all 200ms ease-out
      -o-transition: all 200ms ease-out
      transition: all 200ms ease-out
      background-color: #d2d2d2
      font-size: 16px
      text-transform: none
      padding: 16px 0
      text-align: center
      width: 100%
      border-radius: 0
      border-top: none
      border-right: 1px solid rgba(0, 0, 0, .2)
      border-bottom: 1px solid rgba(0, 0, 0, .2)
      border-left: none
      float: left
      color: #777
      box-shadow: inset 0 0 0 rgba(111, 134, 193, .5)
      &.pressed
        color: #464646
        background-color: #e6e6e6
        border-bottom: 1px solid #6f86c1
        box-shadow: inset 0 -4px 0 rgba(111, 134, 193, .5)
    &:last-child
      & > .ui-button.style-flat, & > .ui-button.style-flat.pressed
        border-right: none
