@import "variables"

.ui-box.ui-titlebar
  color: #464646
  width: 100%
  padding-top: 6px
  padding-bottom: 6px
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1)
  cursor: default
  background: #e6e6e6 /* Old browsers */
  background: -moz-linear-gradient(-45deg,  #e6e6e6 0%, #dcdcdc 100%) /* FF3.6-15 */
  background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#e6e6e6), color-stop(100%,#dcdcdc)) /* Chrome4-9,Safari4-5 */
  background: -webkit-linear-gradient(-45deg,  #e6e6e6 0%,#dcdcdc 100%) /* Chrome10-25,Safari5.1-6 */
  background: -o-linear-gradient(-45deg,  #e6e6e6 0%,#dcdcdc 100%) /* Opera 11.10-11.50 */
  background: -ms-linear-gradient(-45deg,  #e6e6e6 0%,#dcdcdc 100%) /* IE10 preview */
  background: linear-gradient(135deg,  #e6e6e6 0%,#dcdcdc 100%) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  // border-bottom: 1px solid #d2d2d2
  &.style-flat
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .4)
    border-bottom: 1px solid rgba(255, 255, 255, .1)
    color: inherit
    background: transparent
    .ui-button.style-flat
      color: inherit
  .ui-container-cell
    align-self: center
    padding: 5px
    &:first-child
      padding-left: 15px
    &:last-child
      padding-right: 15px
  .ui-button.style-flat
    color: #464646
    padding: 4px
  h1, h2
    font-size: 20px
